{{> pagination}}
<div class="row card-search-list card-search-results-grid-3-text">
	{{#each results.cards}}
	
	{{#ifRowBegin @index 3 result.cards.length}}
	<div class="row">
	{{/ifRowBegin}}
	
	<div class="col-xs-12 col-sm-6 col-md-4">
		{{> card-text-content}}
	</div>
	
	{{#ifRowEnd @index 3 result.cards.length}}
	</div>
	{{/ifRowEnd}}
	
	{{/each}}
</div>
{{> pagination}}