<div class="row card-view">

	<div class="content-band">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-2 card-info">
					{{> card-text-content}}					
				</div>
			
				<div class="col-sm-6 col-md-4">
					<img src="{{cardImagePath imageBase}}" class="card-image" style="margin-bottom: 10px;" />
				</div>
			</div>
			
		</div>
	</div>
</div>
