<div class="user-deck-list-view deck-list">
	<div class="content-band">
		<div class="container">
			<div class="actions-container">
				{{> deck-actions this}}
			</div>
			<div class="deck-list-filter-view-ctr"></div>	
			<div class="deck-list-data-view-ctr"></div>
		</div>
	</div>
</div>